<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <h1>My Profile</h1>
  <form action="/users/logout" method="post">
<!--    <div class="form-floating mb-3">-->
<!--      <input class="form-control" id="identifier" name="username" type="text" placeholder="Enter your identifier...">-->
<!--      <label for="identifier">ID</label>-->
<!--    </div>-->
<!--    <div class="form-floating mb-3">-->
<!--      <input class="form-control" id="password" name="password" type="password" placeholder="Enter your password...">-->
<!--      <label for="password">Password</label>-->
<!--    </div>-->
<!--    <div class="form-floating mb-3">-->
<!--      <input class="form-control" id="password-check" name="password-check" type="password" placeholder="Re-enter your password...">-->
<!--      <label for="password-check">Password Check</label>-->
<!--    </div>-->
<!--    <div class="d-grid"><button class="btn btn-primary btn-lg" id="sign-in-button" type="submit">Submit</button></div>-->
    <input type="submit" value="로그아웃">
  </form>
</body>
</html>