<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

<h1>[[${feed.id}]]. [[${feed.title}]]</h1>
<p>[[${feed.content}]]</p>

<a href="/feed">Back</a>
<!-- /{id}/update-view -->
<a th:href="@{/feed/{feedId}/updateView (feedId=${feed.id})}">Update</a>
<!-- /{id}/delete-view -->
<a th:href="@{/feed/{feedId}/deleteView (feedId=${feed.id})}">Delete</a>
<br>
<!--comment section-->
<div>
    <form th:action="@{/feed/{id} (id=${feed.id})}" method="post" style="display: inline;">
        <input type="text" id="content" name="comment" class="form-control" placeholder="댓글을 입력해주세요.." aria-label="댓글을 입력해주세요.." aria-describedby="basic-addon2">
        <button class="btn btn-primary">등록</button>
    </form>
</div>


<div th:unless="${commentList.isEmpty()}" th:each="comments: ${commentList}">
    <p>작성자: [[${comments.writer}]]</p>
    <p>[[${comments.content}]]</p>
    <hr>
</div>

</body>
</html>
