<!DOCTYPE html>
<html>
<head>
    <title>Chat App</title>
    <style>
        #chat-container {
            width: 300px;
            margin: 0 auto;
            padding: 10px;
            border: 1px solid #ccc;
        }

        #chat-messages {
            height: 200px;
            overflow-y: scroll;
        }
    </style>
</head>
<body>
<div id="chat-container">
    <h2>Chat App</h2>
    <div id="chat-messages"></div>
    <input type="text" id="message-input" placeholder="Type a message...">
    <button id="send-button">Send</button>
    <button id="disconnect-button">disconnect</button>
    <input type="file" id="fileInput">
    <button id="upload-button" onclick="uploadFile()">Upload</button>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.2/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<!--<script src="/static/js/stomp.js"></script>-->
<!--<script th:inline="javascript">-->
<!--    let nickname = /*[[${nickname}]]*/ 'Default Nickname';-->
<!--    console.log(nickname);-->
</script>

<script>
    // roomId 파라미터 가져오기
    // 현재 페이지의 전체 URL
    const pathname = window.location.pathname;
    const roomId = parseInt(pathname.split("/")[4]);
    const username = decodeURI(pathname.split("/")[5]);

    let chatMessages = document.getElementById('chat-messages');
    let messageInput = document.getElementById('message-input');
    let sendButton = document.getElementById('send-button');
    // let connectButton = document.getElementById('connect-button');
    let disconnectButton = document.getElementById('disconnect-button');
    let fileInput = document.getElementById('fileInput');
    let uploadButton = document.getElementById('upload-button');


    // 받아온 토큰 값
    // const token = "";
    //
    let headers = {Authorization: sessionStorage.getItem('access_token')};

    // SockJS를 사용하여 /ws/chat 엔드포인트로 WebSocket 연결을 설정하고, 이 연결을 이용하여 서버와의 통신을 초기화
    let socket = new SockJS('/ws/chat');
    let stompClient = Stomp.over(socket);

    // 드가자마자 연결
    const connectCallback = (frame) => {
        console.log('STOMP 연결 성공.');
        console.log(roomId);
        onConnected();
    };

    // 토큰을 포함한 헤더 객체 설정
    // const headers = {
    //     Authorization: `Bearer ${token}` // 토큰을 "Bearer" 스타일로 포함
    // };

    // onConnected - connect 콜백 함수
    stompClient.connect(headers, connectCallback);

    function onConnected() {
        // sub 할 url => /sub/chat/room/roomId 로 구독한다
        // onMessageReceived는 해당 토픽을 구독하는 사용자에게 메세지가(응답값) 왔을때 실행되는 콜백 함수
        stompClient.subscribe('/topic/chat/room/enter/' + roomId, msgRecv);

        // /pub/chat/enterUser 로 Json 형태의 메시지를 보냄
        stompClient.send("/app/chat/enter",
            headers,
            JSON.stringify({
                "roomId": roomId,
                sender: "testuser",
                type: 'ENTER'
            })
        )
    }

    // 웹상에 표시
    function msgRecv(payload) {
        let chat = JSON.parse(payload.body)

        let messageElement = document.createElement("div");
        switch (chat.type) {
            case 'ENTER':
                messageElement.textContent = chat.message;
                break;
            case 'EXIT':
                messageElement.textContent = chat.message;
                break;
            case 'TALK':
                messageElement.textContent = chat.message;
                break;
        }

        // 채팅 메시지 요소를 채팅 영역에 추가
        chatMessages.appendChild(messageElement);
        // 채팅 영역의 스크롤 위치를 맨 아래로 이동시켜서 최신 메시지를 표시
        chatMessages.scrollTop = chatMessages.scrollHeight;
    }


    function sendMessage() {
        let messageContent = messageInput.value.trim();
        if (messageContent && stompClient) {
            let chatMessage = {
                "roomId": roomId,
                sender: "test1",
                message: messageInput.value,
                type: 'TALK'
            };

            stompClient.send("/app/chat/message", headers, JSON.stringify(chatMessage));
            messageInput.value = '';
        }
    }

    function disconnect() {
        stompClient.unsubscribe('/topic/chat/room/enter/' + roomId, msgRecv);
        stompClient.send("/app/chat/exit",
            headers,
            JSON.stringify({
                "roomId": roomId,
                sender: "testuser",
                type: 'EXIT'
            })
        )
        // 연결 종료 코드와 이유를 지정하여 연결을 끊음
        socket.close(1000, '사용자가 나감');
    }


    // 서버로 이미지 URL 전송

    function sendImage() {
        let url = 'http://localhost:8080/static/message/1694092894473_New Piskel (5).png'; // 생성된 이미지 URL
        // 이미지 엘리먼트를 생성하고 URL을 설정
        const imageElement = document.createElement('img');
        imageElement.src = url;

        // 이미지를 채팅 영역에 추가
        chatMessages.appendChild(imageElement);

        // 서버로 이미지 URL 전송
        stompClient.send("/app/chat/sendImage", headers, url);
    }


    // '나가기' 버튼을 클릭하면 연결을 끊기
    disconnectButton.addEventListener('click', disconnect);
    // connectButton.addEventListener('click', connect, true)
    uploadButton.addEventListener('click', sendImage);
    sendButton.addEventListener('click', sendMessage);
    messageInput.addEventListener('keyup', function (event) {
        if (event.key === 'Enter') {
            sendMessage();
        }
    });
</script>
</body>
</html>